<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% verbatim %}
	<!--<link rel="stylesheet" type="text/css" href="{% static 'css/csszipped.css' %}" />
	<script src="{% static 'js/zippedjs.js' %}"></script>-->
	{% endverbatim %}
	
	
	<!--<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.structure.min.css' %}" />-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin-2.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/timeline.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/select.min.css' %}" />
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'js/jquery-ui.min.js' %}"></script>	
	<script src="{% static 'js/angular.min.js' %}"></script>
	<script src="{% static 'js/angular-sanitize.min.js' %}"></script>
	<script src="{% static 'js/angular-resource.min.js' %}"></script>	
	<script src="{% static 'js/ui-bootstrap-tpls-2.5.0.min.js' %}"></script>	
	<script src="{% static 'js/sortable.min.js' %}"></script>		
	<script src="{% static 'js/underscore-min.js' %}"></script>
	<script src="{% static 'js/select.min.js' %}"></script>		
	<script src="{% static 'civ/js/app.js' %}"></script>

	
	<script>
	app.config(function($httpProvider) {
	    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token }}';
	});
	</script>
	<meta name="robots" content="noindex">
	<meta name="googlebot" content="noindex">


	
	{% block staticf %}{% endblock %} 
    <title>{% block title %}CivGame{% endblock %}</title>
</head>

<body ng-app="civ">
	{% block page %}
	<div id="wrapper" >
    	<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
		    <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand" href="">Портал</a>
		    </div>
		    


		    <div class="navbar-default sidebar" role="navigation" ng-controller="MenuCtrl" ng-cloak>
		    	<script type="text/javascript">
		    		app.controller('MenuCtrl', ['$scope','$http','$window',function($scope,$http,$window){
		    			$scope.selectedMenu = 'dashboard';
				        $scope.collapseVar = 0;
				        $scope.multiCollapseVar = 0;
				        
				        $scope.check = function(x){
				          
				          if(x==$scope.collapseVar)
				            $scope.collapseVar = 0;
				          else
				            $scope.collapseVar = x;
				        };
				        
				        $scope.multiCheck = function(y){
				          
				          if(y==$scope.multiCollapseVar)
				            $scope.multiCollapseVar = 0;
				          else
				            $scope.multiCollapseVar = y;
				        };
		    		}])
		    	</script>
		    	
		    	<div class="user-panel" style="padding:10px; height: auto; overflow:auto;">
	                <div class="pull-left image">
	                    <img src="https://img.icons8.com/color/1600/circled-user-male-skin-type-1-2.png" class="img-circle" alt="User Image" style="max-width: 45px; height: auto; margin-right: 10px;">
	                </div>
	                <div class="pull-left info">
	                    <p>{{ request.user.last_name }} {{ request.user.first_name }}</p>
	                    <span class="text-aqua text-sm">Аналитик</span>
	                </div>
	            </div>
	            
			    <div class="sidebar-nav navbar-collapse">

			        <ul class="nav in" id="side-menu">
			            <!--<sidebar-search></sidebar-search>-->
			            <li ui-sref-active="active">
			                <a href="{% url 'dashboard' %}"><i class="fa fa-dashboard fa-fw"></i> Главная страница</a>
			            </li>
			            <li>
			                <a href="{$ url 'mentorme:my_tasks' $}"><i class="fa fa-tasks fa-fw"></i> Мои задачи</a>
			            </li>


			            <li ng-class="{active:collapseVar==5}">
			                <a href="" ng-click="check(5)"><i class="fa fa-files-o fa-fw"></i> Учебные материалы<span class="fa arrow"></span></a>
			                <ul class="nav nav-second-level" uib-collapse="collapseVar!=5">
			                    <li ng-class="{active: selectedMenu=='blank'}">
			                        <a href="{$ url 'mentorme:video_index' $}"><i class="fa fa-film fa-fw"></i> Видео</a>
			                    </li>
                    
			                </ul>
			                <!-- /.nav-second-level -->
			            </li>
			            
			        </ul>
			    </div>
			   
			    <!-- /.sidebar-collapse -->
			</div>
		</nav>
        <div id="page-wrapper" style="min-height: 561px;">
    		<div ng-cloak>{% block content %} {% endblock %}</div>
        </div>
    </div>
    {% endblock %}
</body>
</html>